// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .projects-card {
//     width: 10%;
//     height: 10%;
//     margin: 10px;
// }

.projects {
    width: 100%;
    background-color: springgreen ;
}