.Footer-icon {
    display: inline-block;
    font-size: 30px;
    position: relative;
    margin: 5px;
    color: var(--green);
}

.Footer {
    /* background-color: thistle; */
    color: slategray;
}

.Footer a {
    color: slategray;
}