@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');


:root{
/* --dark: #355070ff; */
--mid-one: #b56576ff;
--dark: #1F090E;
--mid-four: #02aab0;
--mid-three: #02aa6b;
--bright: #e56b6fff;
--light: #ffffff;
--gradient: linear-gradient(135deg,var(--mid-four),var(--mid-three));
}



body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: var(--light);
  /* 
  font-family: 'Calibri', 'Nunito Sans', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

h1 {
    font-size: 70px;
    color: var(--dark);
}

h2 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 5vh;
}

h3 {
    font-size: 40px;
    padding-bottom: 5vh;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: var(--light);
}

h5 {
    font-size: 30px;
    text-align: center;
    color: var(--light);
}

.btn {
    font-size: 26px;
    text-align: center;
    border: 4px solid var(--mid-three);
    border-radius: 0;
}

.btn-filled {
    background-color: var(--mid-four);
    background-image: var(--gradient);
    border: 4px solid var(--light);
}

.btn-lined {
    border-color: var(--mid-three);
    background-color: transparent;
}

.btn-empty {
    border-color:  transparent;
}


/* Landing doesn't have a section or container*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-filled {
    background-color: var(--mid-four);
    background-image: var(--gradient);
    color: var(--light);
}

.section-clear {
    
}

.container {
    border: 10px solid thistle;
}


.jumbotron {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.Project-img{
    background-color: var(--dark);
    box-shadow: 1px 1px 6px var(--mid-two);
    min-height: 20vh;
}

.Project {
    margin: 10vh 0;
}

.Footer {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    padding: 0;
}

.Footer a {
    color: var(--light);
}
