@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&family=Changa:wght@800&family=Open+Sans&display=swap');


:root{
/* --dark: #355070ff; */
--mid-one: #b56576ff;
--dark: #1F090E;
--mid-four: #5602B0;
--mid-three: #02aab0;
--bright: #e56b6fff;
--light: #ffffff;
--gradient: linear-gradient(135deg,var(--mid-four), var(--mid-three), var(--mid-three));
}



body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: var(--mid-four);
    background-image: var(--gradient);
    font-family: 'Open Sans', sans-serif;

  /* 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}


h1 {
    font-size: 70px;
    color: var(--dark);
    font-family: 'Changa', sans-serif;

}

h2 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 5vh;
    text-transform: uppercase;
    text-emphasis: bold;
    font-family: 'Changa', sans-serif;

}

h3 {
    font-size: 40px;
    padding-bottom: 5vh;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: var(--light);
}

h5 {
    font-size: 30px;
    text-align: center;
    color: var(--light);
}

.btn {
    font-size: 26px;
    text-align: center;
    border: 4px solid var(--mid-four);
    border-radius: 0;
    font-family: 'Changa', sans-serif;
    color: var(--mid-four);
    background-color: transparent;
    letter-spacing: 2px;
    padding: 12px 24px;
    cursor: pointer;
    display: inline-block;
}

.btn-covered {
    background-color: var(--light);
    border: 4px solid var(--mid-four);
    color: var(--mid-four);
}

.btn-lined {
    border-color: var(--light);
}

.btn-empty {
    border-color:  transparent;
}


/* Landing doesn't have a section or container*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    min-height: fit-content;
}

.section-filled {
    background-color: transparent;
    background-image: none;
    color: var(--light);
}

.section-cover {
    background-color: #fff;
}

.container {
    padding: 10vh 0;
}


.jumbotron {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.Project-img{
    background-color: var(--dark);
    box-shadow: 1px 1px 6px var(--mid-two);
    min-height: 20vh;
}

.Project {
    margin: 10vh 0;
}

.Footer {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
}

.Footer a {
    color: var(--light);
}

.Contact {
    justify-content: center;
    align-items: center;
}

.Landing span {
    color: var(--mid-four)
}

.Landing {
    background-color: #fff;
}
