@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');


:root{
    --thistle: #D8C1D9;
    --gray: rgb(110, 126, 140);
    --offwhite: #F0F1F2;
    --green: #078C7F;
    --brown: #A66A65;
}

body {
  margin: 0;
  font-family: 'Calibri', 'Nunito Sans', sans-serif;
  background-color: var(--offwhite);
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-family: 'Oranienbaum', serif;
    font-weight: bold;
}


h4 {
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
}


.container {
    background-color: var(--thistle);
    color: var(--green);
    margin: 16vh 0;
}

.card {
    border-radius: 1rem;
}

.About-spinner {
    margin: 10vh 0;
}