.Landing {
    height: 100vh;
}

.Landing-container {
    height: 60vh;
    width: 600px;
    position: absolute;
    bottom: -10vh;
    left: 30%;
    padding: 72px 8px;
}

.Landing-header {
    width: 400px;
    position: absolute;
    left: 30%;
}

img {
    width: 300px;
    position: absolute;
    right: 450px;
    top: -13%;
}

img:before {
    content:"";
    background-color: rgb(110, 126, 140, .9);
    position: absolute;
    height: 100%;
    width: 100%;
}
