.Landing {
    height: 100vh;
    display: flex;
    align-items: center;
}

.Landing-container {
    height: 60vh;
    padding: 20vh 24px;
}

h6 {
    display: inline-block;
    margin-right: 10px;
}