.navbar {
    z-index: 5;
    font: 'Calibri';
    font-size: larger;
    margin-top: -11vh;
    background-color: var(--violet);
    padding: 20px;
    border-bottom: .8vw solid var(--mac);
    box-shadow: 5px 5px 5px #888888;
}


.nav-item a {
    min-width: max-content;
    color: var(--offwhite);
}

.nav-link {
    color: var(--mac) !important;
}

.Nav-toggler {
    background-color: var(--offwhite);
    color: var(--mac);
}

.circle:hover {
    border-radius: 50%;
    transition:all 0.3s ease;
}

.navbar-toggler:hover {
    border-radius: 50%;
    transition:all 0.3s ease;
}