
<div class="footer fixed-bottom" style="background-color:pink;">
    <div class="cta container-fluid"> 
        <div class="row">
            <div class="col-6">
                Looking for a developer?
            </div>
            <div class="col-6">
                Let's chat
            </div>
        </div>
    </div>
    <div class="contact-links container">
    links
    </div>
</div>
